*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: aqua;
    line-height: 80px;
    padding: 10px 16px;
}

header img {
    height: 60px;
    vertical-align: middle;
}

header span{
    font-size: 40px;
    vertical-align: middle;
    
}

main {
  height: 600px;
  width: 80%;
  background-color: bisque;

  margin: auto;
}

nav {
    height: 70px;
    width: 100%;
    background-color: chartreuse;
}

.bottone_nav{
    height: 40px;
    width: 100px;
    background-color: cadetblue;
    display: inline-block;
    margin-top: 15px;

    border-radius: 5%;

    text-align: center;
    line-height: 40px;
}

.primo_bottone{
    margin-left: 40px;
}

hr{
    background-color: 2px solid  black;
}

.prima_section{
    background-color: lightcoral;
    margin-top: 30px;
}

.prima_riga{
    height: 50px;
    padding: 10px;
    background-color: lightslategrey;
}

.seconda_riga{
    height: 60px;
    padding: 10px;
    background-color: lightgreen;
}

#bottone_div {
    display: inline-block;
    height: 30px;
    width: 65px;
    background-color: blanchedalmond;
    border-radius: 10px;

    text-align: center;
    line-height: 30px;
    
}



